---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import rounds from '../assets/rounds2.png';
import contact from '../assets/contact-img.png';
import nicotine from '../assets/nicotine3.png';
import labo from '../assets/labo-bottles.png';
import logistic from '../assets/logistic.png';
import logisitc2 from '../assets/logistic2.png';
import delivery from '../assets/car-icon.png';
import research from '../assets/research-icon.png';
import services from '../assets/services.png';
---

<Layout title='O nas'>
  <section class='about-section'>
    <div class='about-welcome'>
      <h1 class='about-header'>O Nas</h1>
    </div>
    <div class='about-container'>
      <div class='about-text'>
        <h2 class='about-subheader'>Dlaczego HILIQ?</h2>
        <p class='text'>
          Hiliq może być Twoim numerem jeden jako dostawca online czystej
          nikotyny. Nasz produkt jest dostosowany do rosnących potrzeb
          przedsiębiorców potrzebujących wysokiej jakości Premium Nikotyny klasy
          USP, która może być wykorzystywana w wielu produktach takich jak
          plastry nikotynowe, gumy do żucia oraz płyny przygotowane i używane
          specjalnie do użytku w elektronicznych papierosach.
        </p>
        <p class='text'>
          Wykorzystujemy swoje doświadczenie nie tylko do produkcji najwyższej
          klasy produktów końcowych, ale również skupia swój rozwój na
          prowadzeniu badań, które są stale obecne w naszych działaniach tak
          istotnych do wprowadzania nowych produktów na rynek zgodnie
          zapotrzebowaniem naszych Klientów.
        </p>
        <p class='text'>
          Posiadamy doświadczenie w procesach produkcji, dlatego też nasze
          produkty osiągają najwyższe standardy, jak również procedury
          bezpieczeństwa są zawsze przestrzegane. Nasza dociekliwość koncentruje
          się wokół wydobycia najlepszych składników z liści tytoniu i poddaniu
          ich szeregowi ekstrakcji oraz oczyszczania tak, aby dostarczyć naszym
          konsumentom najbardziej naturalny i czysty płyn nikotynowy.
        </p>
      </div>
      <span class='span-line'></span>
      <div class='benefits-wrapper container'>
        <Image class='image' src={rounds} alt='obrazek' />
        <div class='benefit title-one'>
          <h2 class='benefit-header'>Ogromny wybór</h2>
          <p class='benefit-text'>
            Hiliq jest zawsze zgodna ze strategią, iż innowacyjne podejście
            generuje zgodną z oczekiwaniem Konsumenta jakość produktu. Teraz,
            gdy już mamy opanowane do perfekcji ekstrakcje nikotyny jesteśmy
            dumni z produkcji i możliwości zaoferowania szerokiego wyboru
            czystości nikotyny. Oferujemy nikotynę w czystości 99.5% do 99.9%
            ,więc idealną do każdego rodzaju produktów.
          </p>
          <Image class='benefit-image' src={nicotine} alt='nicotine-bottles' />
        </div>
        <div class='benefit title-two'>
          <h2 class='benefit-header'>Jakość produktu</h2>
          <p class='benefit-text'>
            Hiliq oferuje tylko najwyższą jakość produktów nikotynowych. Nasze
            płyny, ekstraktowane z najwyższej jakości roślin tytoniowych są
            starannie produkowane w zakładach sprawdzonych przez FDA oraz
            zgodnie z wytycznymi cGMP (current Good Manufacturing Practices),
            tak aby zapewnić 100% satysfakcji Klientów zarówno w strefie smaku
            jak i bezpieczeństwa.
          </p>
          <Image class='benefit-image' src={labo} alt='laboratory' />
        </div>
        <div class='benefit title-three'>
          <h2 class='benefit-header'>Doskonałość w logistyce</h2>
          <p class='benefit-text'>
            Dostarczamy nasze produkty w każde miejsce na świecie według
            zapotrzebowania naszych Konsumentów. Dotox jest niezawodnym dostawcą
            wysokiej jakości nikotyny. Z naszymi partnerami, będącymi kluczowymi
            dostawcami w branży logistycznej zapewniamy szybki, odpowiedzialny
            oraz wygodny transport do Waszych drzwi z najniższymi dostępnymi
            opłatami przesyłek międzynarodowych. Posiadamy również zespół, który
            pomoże Ci śledzić, sprawdzać i koordynować stan Twojej przesyłki.
          </p>
          <Image class='benefit-image' src={logistic} alt='magazine' />
        </div>
        <div class='benefit title-four'>
          <h2 class='benefit-header'>Konkurencyjne ceny</h2>
          <p class='benefit-text'>
            Hiliq oferuje wyłącznie najczystszą nikotynę, równocześnie dając
            uczciwą i odpowiednią cenę dla Twojego biznesu. Cenimy naszych
            Klientów oraz zawsze wspieramy ich działalność. Nikt z konkurentów
            nie proponuje takiej samej jakości produktów jaką my oferujemy w tak
            dobrych cenach.
          </p>
          <Image class='benefit-image' src={logisitc2} alt='logistics' />
        </div>
        <div class='benefit title-five'>
          <h2 class='benefit-header'>Istotność serwisu</h2>
          <p class='benefit-text'>
            Hiliq rozumie, iż skuteczna obsługa klienta może stanowić ogromną
            wartość biznesową. Zawsze jest naszym celem, aby trzymać się zasad,
            zapewniających wydajność oraz spełnianie wszystkie oczekiwań
            Konsumentów. Zespól Dotox dąży do tego, żeby nasi Klienci byli
            częścią każdego naszego działania. Od zamówienia produktu aż do jego
            dostarczenia monitorujemy cały proces, więc będziesz mógł bez obaw
            czekać na dostawę z całkowitym zaufaniem do naszych usług i
            możliwości.
          </p>
          <Image class='benefit-image' src={contact} alt='contact-woman' />
        </div>
      </div>
    </div>
    <div class='advantages-wrapper'>
      <h2 class='about-subheader'>Zalety</h2>

      <div class="advantages-container">
        <div class='advantages'>
          <div class='image-wrapper one'>
            <svg
              fill='white'
              class='advantages-img'
              height='100px'
              width='100px'
              version='1.1'
              id='Layer_1'
              xmlns='http://www.w3.org/2000/svg'
              xmlns:xlink='http://www.w3.org/1999/xlink'
              viewBox='0 0 511.998 511.998'
              xml:space='preserve'
            >
              <g>
                <g>
                  <path
                    d='M55.676,207.671H30.023c-4.523,0-8.188,3.666-8.188,8.188s3.665,8.188,8.188,8.188h25.653
              c4.523,0,8.188-3.666,8.188-8.188S60.199,207.671,55.676,207.671z'
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    d='M99.346,300.464H40.941c-4.523,0-8.188,3.666-8.188,8.188s3.665,8.188,8.188,8.188h58.406
              c4.523,0,8.188-3.666,8.188-8.188S103.87,300.464,99.346,300.464z'
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    d='M77.511,251.338H8.188c-4.523,0-8.188,3.666-8.188,8.188s3.665,8.188,8.188,8.188h69.323c4.523,0,8.188-3.666,8.188-8.188
              S82.034,251.338,77.511,251.338z'
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    d='M77.511,365.966h-6.715c-4.523,0-8.188,3.666-8.188,8.188c0,4.522,3.665,8.188,8.188,8.188h6.715
              c4.523,0,8.188-3.666,8.188-8.188C85.699,369.633,82.034,365.966,77.511,365.966z'
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    d='M43.502,365.966H8.188c-4.523,0-8.188,3.666-8.188,8.188c0,4.522,3.665,8.188,8.188,8.188h35.314
              c4.523,0,8.188-3.666,8.188-8.188C51.69,369.633,48.024,365.966,43.502,365.966z'
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    d='M427.771,159.128h-69.403v-14.739c0-4.522-3.665-8.188-8.188-8.188H246.016c-4.523,0-8.188,3.666-8.188,8.188
              s3.665,8.188,8.188,8.188h95.976v172.495c0,4.522,3.665,8.188,8.188,8.188c4.523,0,8.188-3.666,8.188-8.188V175.504h69.403
              c37.414,0,67.851,30.434,67.851,67.842v138.5h-20.818c-3.938-24.717-25.397-43.67-51.206-43.67
              c-25.808,0-47.268,18.953-51.205,43.67h-14.026v-29.48c0-4.522-3.665-8.188-8.188-8.188c-4.523,0-8.188,3.666-8.188,8.188v29.48
              h-86.901c-3.938-24.717-25.397-43.67-51.205-43.67s-47.268,18.953-51.206,43.67H135.65V262.43c0-4.522-3.665-8.188-8.188-8.188
              s-8.188,3.666-8.188,8.188v127.604c0,4.522,3.665,8.188,8.188,8.188h25.217c3.938,24.717,25.398,43.67,51.206,43.67
              s47.268-18.953,51.205-43.67h117.302c3.938,24.717,25.397,43.67,51.205,43.67s47.268-18.953,51.205-43.67h29.006
              c4.523,0,8.188-3.666,8.188-8.188V243.346C512,196.908,474.214,159.128,427.771,159.128z M203.885,425.516
              c-19.565,0-35.482-15.917-35.482-35.482c0-19.565,15.917-35.482,35.482-35.482c19.565,0,35.482,15.917,35.482,35.482
              C239.367,409.6,223.45,425.516,203.885,425.516z M423.6,425.516c-19.561,0-35.474-15.909-35.482-35.468
              c0-0.004,0.001-0.01,0.001-0.014c0-0.004-0.001-0.01-0.001-0.014c0.008-19.559,15.921-35.468,35.482-35.468
              c19.565,0,35.482,15.917,35.482,35.482C459.082,409.6,443.165,425.516,423.6,425.516z'
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    d='M479.248,243.346c0-28.378-23.092-51.465-51.476-51.465h-44.838c-4.523,0-8.188,3.666-8.188,8.188v76.969
              c0,4.522,3.665,8.188,8.188,8.188h88.128c4.523,0,8.188-3.666,8.188-8.188v-33.692H479.248z M391.121,268.851v-60.592h36.65
              c19.355,0,35.1,15.741,35.1,35.089v25.503H391.121z'
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    d='M203.885,368.925c-11.64,0-21.11,9.47-21.11,21.11c0,11.64,9.47,21.11,21.11,21.11c11.64,0,21.11-9.47,21.11-21.11
              C224.995,378.395,215.525,368.925,203.885,368.925z M203.885,394.768c-2.61,0-4.734-2.123-4.734-4.734
              c0-2.61,2.123-4.734,4.734-4.734c2.61,0,4.734,2.123,4.734,4.734C208.619,392.645,206.495,394.768,203.885,394.768z'
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    d='M423.6,368.925c-11.64,0-21.11,9.47-21.11,21.11c0,11.64,9.47,21.11,21.11,21.11c11.64,0,21.11-9.47,21.11-21.11
              C444.71,378.395,435.24,368.925,423.6,368.925z M423.6,394.768c-2.61,0-4.734-2.123-4.734-4.734c0-2.61,2.123-4.734,4.734-4.734
              c2.61,0,4.734,2.123,4.734,4.734C428.333,392.645,426.21,394.768,423.6,394.768z'
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    d='M471.06,307.607c-4.523,0-8.188,3.666-8.188,8.188v20.743c0,4.522,3.665,8.188,8.188,8.188
              c4.523,0,8.188-3.666,8.188-8.188v-20.743C479.248,311.273,475.582,307.607,471.06,307.607z'
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    d='M140.782,70.105c-11.045,0-21.812,2.041-32.003,6.064c-4.207,1.661-6.269,6.417-4.608,10.623
              c1.661,4.207,6.418,6.268,10.623,4.608c8.266-3.264,17.01-4.919,25.988-4.919c39.037,0,70.796,31.759,70.796,70.796
              s-31.759,70.796-70.796,70.796c-39.037,0-70.796-31.759-70.796-70.796c0-19.857,8.419-38.925,23.097-52.317
              c3.342-3.048,3.578-8.226,0.531-11.567c-3.049-3.341-8.229-3.578-11.568-0.531c-18.072,16.488-28.437,39.966-28.437,64.415
              c0.001,48.068,39.107,87.173,87.173,87.173c48.067,0,87.172-39.106,87.172-87.172C227.954,109.211,188.849,70.105,140.782,70.105z
              '
                  ></path>
                </g>
              </g>
              <g>
                <g>
                  <path
                    d='M161.004,149.089H148.97v-37.398c0-4.522-3.665-8.188-8.188-8.188s-8.188,3.666-8.188,8.188v45.586
              c0,4.522,3.665,8.188,8.188,8.188h20.223c4.523,0,8.188-3.666,8.188-8.188S165.527,149.089,161.004,149.089z'
                  ></path>
                </g>
              </g>
            </svg>
          </div>
          <h2 class='advantages-header'>Doświadczenie w produkcji i logistyce</h2>
          <p class='advantages-text'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
            eum tempora corporis in ea, aliquam nostrum atque, consequatur
            veritatis ex eaque quam asperiores facere repellendus. Maiores
            expedita veniam laborum! Adipisci!
          </p>
        </div>
        <div class='advantages'>
          <div class='image-wrapper two'>
            <svg
              class='advantages-img'
              fill='white'
              height='100px'
              width='100px'
              version='1.1'
              id='Layer_1'
              xmlns='http://www.w3.org/2000/svg'
              xmlns:xlink='http://www.w3.org/1999/xlink'
              viewBox='0 0 496 496'
              xml:space='preserve'
            >
              <g>
                <g>
                  <path
                    d='M496,286.216c0-28.064-15.984-52.624-40-64.48V96c0-52.936-43.064-96-96-96c-52.936,0-96,43.064-96,96v9.456
               c-10.12-1.728-20.64-1.912-31.216-0.272c-0.568,0.088-1.128,0.24-1.696,0.336C231.64,102.384,232,99.216,232,96V64
               c0-12.656-9.84-23.056-22.28-23.936C193.544,15.232,165.712,0,136,0C87.48,0,48,39.48,48,88v8c0,18.28,9.128,35.352,24,45.768
               v0.456c0,20.16,9.392,38.144,24,49.88v17.128L60.168,215.2C25.304,221,0,250.872,0,286.216V352h141.504
               C114.264,362.696,96,388.848,96,418.912V496h304v-77.088c0-30.064-18.264-56.216-45.504-66.912H496V286.216z M280,96
               c0-44.112,35.888-80,80-80s80,35.888,80,80v120.08c-1.384-0.312-2.752-0.648-4.168-0.888L400,209.224v-17.128
               c14.608-11.744,24-29.72,24-49.88l-0.056-50.688L412.6,96.752C412.44,96.832,396.456,104,360,104s-52.44-7.168-52.536-7.208
               L296,91.296v25.656c-5.08-2.936-10.456-5.344-16-7.312V96z M331.344,152.496c-5.2-9.128-11.784-17.12-19.344-23.896v-13.64
               c9.512,2.392,25.2,5.04,48,5.04s38.488-2.648,48-5.04v27.256c0,26.472-21.528,48-48,48c-2.68,0-5.344-0.296-8-0.752V177.68
               C352,165.24,343.112,154.848,331.344,152.496z M345.04,241.824C349.488,231.192,352,219.736,352,208v-2.36
               c2.656,0.336,5.328,0.584,8,0.584c8.488,0,16.584-1.696,24-4.712v13.2l-24,72L345.04,241.824z M345.696,294.392l-21.912-21.912
               c3.944-3.664,7.44-7.704,10.616-11.984L345.696,294.392z M397.432,225.008l12.64,2.104l5.24,26.256l-41.008,41.016
               L397.432,225.008z M235.216,120.992c34.488-5.344,68.192,11.832,83.968,42.648l2.24,4.36h4.888c5.344,0,9.688,4.344,9.688,9.68
               V208c0,16.512-5.824,32.448-16.008,45.136l-0.04-49.08l-11.056,4.568C308.72,208.704,290.552,216,248,216
               s-60.72-7.296-60.848-7.352L176,203.872v30.696c-6.472-13.448-9.184-28.576-7.48-43.808
               C172.44,155.688,200.488,126.352,235.216,120.992z M158.632,234.528c1.808,4.672,3.904,9.232,6.432,13.584l-14.112-8.472
               L158.632,234.528z M136.28,230.2L112,212v-10.496c7.416,3.016,15.512,4.712,24,4.712c5.536,0,10.96-0.792,16.248-2.2
               c0.216,4.864,0.736,9.688,1.672,14.424L136.28,230.2z M168.904,269.064l7.84,4.704c2.36,17.296,10.864,32.616,23.256,43.744V336
               h-32.936l-6.76-54.04L168.904,269.064z M206.024,352.672l27.992,22.392l-23.592,14.16l-21.704-32.56L206.024,352.672z
                M216,340.152V328.4c9.656,4.816,20.496,7.6,32,7.6c11.504,0,22.344-2.776,32-7.6v11.752l-32,25.6L216,340.152z M289.976,352.664
               l17.304,3.992l-21.704,32.56l-23.592-14.16L289.976,352.664z M248,320c-30.872,0-56-25.128-56-56v-37.328
               c10.456,2.44,28.616,5.328,56,5.328c27.384,0,45.544-2.888,56-5.328V264C304,294.872,278.872,320,248,320z M72,91.296v28.584
               c-5.088-6.808-8-15.16-8-23.88v-8c0-39.704,32.296-72,72-72c25.552,0,49.424,13.8,62.288,36.008L200.6,56h7.4c4.416,0,8,3.584,8,8
               v32c0,5.016-1.008,9.904-2.88,14.608c-4.552,1.8-8.936,3.952-13.136,6.416l-0.032-25.488l-11.344,5.224
               C188.44,96.832,172.456,104,136,104s-52.44-7.168-52.536-7.208L72,91.296z M88,142.216V114.96c9.512,2.392,25.2,5.04,48,5.04
               s38.488-2.648,48-5.04v13.72c-16.6,14.984-28.04,35.616-31.08,58.368c-5.44,2.072-11.104,3.176-16.92,3.176
               C109.528,190.216,88,168.688,88,142.216z M101.936,224.448l19.744,14.808l-22.936,13.768l-15.296-25.488L101.936,224.448z
                M104.936,336H64v-24H48v24H16v-49.784c0-27.496,19.68-50.728,46.792-55.24l3.696-0.616l26.768,44.616l9.84-5.904l8.592,12.888
               L104.936,336z M121.056,336l7.24-57.96l-11.472-17.208L136,249.328l19.168,11.496l-11.472,17.208l7.24,57.968H121.056z
                M216.84,480H160v-40h-16v40h-32v-61.088c0-26.232,17.848-48.672,43.408-54.56l16.648-3.84l33.52,50.272l9.52-5.712l8.632,12.944
               L216.84,480z M263.064,480h-30.12l7.336-66.016l-11.44-17.16L248,385.328l19.168,11.496l-11.44,17.16L263.064,480z M384,418.912
               V480h-32v-40h-16v40h-56.84l-6.888-61.984l8.632-12.944l9.52,5.712l33.52-50.272l16.648,3.84
               C366.152,370.24,384,392.68,384,418.912z M480,336h-32v-24h-16v24H296v-18.488c9.032-8.112,16-18.448,20.04-30.168L360,331.312
               l72.688-72.68l-5.744-28.704l6.264,1.048c27.112,4.52,46.792,27.752,46.792,55.24V336z'
                  ></path>
                </g>
              </g>
            </svg>
          </div>
          <h2 class='advantages-header'>Wydajność cen i usług</h2>
          <p class='advantages-text'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
            eum tempora corporis in ea, aliquam nostrum atque, consequatur
            veritatis ex eaque quam asperiores facere repellendus. Maiores
            expedita veniam laborum! Adipisci!
          </p>
        </div>
        <div class='advantages'>
          <div class='image-wrapper three'>
            <svg fill="white" version="1.1" height="100px" width="100px" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
           viewBox="0 0 496 496" xml:space="preserve">
        <g>
          <g>
            <g>
              <path d="M464,280h-80v-16h-16v16h-12.464c-7.52-27.12-24.28-50.384-46.744-66.176l23.856-38.168
                c1.104,0.16,2.2,0.344,3.352,0.344c6.456,0,12.296-2.592,16.616-6.752l39.68,19.84c-0.12,0.968-0.296,1.92-0.296,2.912
                c0,13.232,10.768,24,24,24s24-10.768,24-24c0-6.52-2.632-12.432-6.872-16.76l36.144-79.52C470.184,95.832,471.064,96,472,96
                c13.232,0,24-10.768,24-24s-10.768-24-24-24s-24,10.768-24,24c0,6.52,2.632,12.432,6.872,16.76l-36.144,79.52
                c-0.912-0.112-1.792-0.28-2.728-0.28c-6.456,0-12.296,2.592-16.616,6.752l-39.68-19.84c0.12-0.968,0.296-1.92,0.296-2.912
                c0-13.232-10.768-24-24-24s-24,10.768-24,24c0,6.272,2.472,11.944,6.424,16.224L295.12,205.52
                C278.592,196.936,259.872,192,240,192c-5.44,0-10.752,0.488-16,1.192V16h32V0h-32H112H80v16h32v205.76L10.272,388.864
                C3.552,399.912,0,412.584,0,425.52C0,464.384,31.616,496,70.48,496h195.04c38.856,0,70.48-31.616,70.48-70.48
                c0-11.264-2.848-22.264-7.984-32.232c12.792-13.832,22.344-30.64,27.52-49.296H368v16h16v-16h80c17.648,0,32-14.352,32-32
                S481.648,280,464,280z M472,64c4.416,0,8,3.584,8,8s-3.584,8-8,8c-4.416,0-8-3.584-8-8S467.584,64,472,64z M416,184
                c4.416,0,8,3.584,8,8s-3.584,8-8,8c-4.416,0-8-3.584-8-8S411.584,184,416,184z M336,144c4.416,0,8,3.584,8,8s-3.584,8-8,8
                c-4.416,0-8-3.584-8-8S331.584,144,336,144z M243.352,288.336c-1.104-0.152-2.2-0.336-3.352-0.336c-13.232,0-24,10.768-24,24
                s10.768,24,24,24s24-10.768,24-24c0-6.272-2.472-11.944-6.424-16.224l25.728-41.168C300.696,267.768,312,288.56,312,312
                c0,39.704-32.296,72-72,72c-39.704,0-72-32.296-72-72c0-39.704,32.296-72,72-72c10.536,0,20.528,2.328,29.56,6.416
                L243.352,288.336z M248,312c0,4.416-3.584,8-8,8s-8-3.584-8-8c0-4.416,3.584-8,8-8S248,307.584,248,312z M128,226.24V16h80
                v180.464c-40.456,11.224-72.312,43.08-83.536,83.536H95.28L128,226.24z M265.52,480H70.48C40.44,480,16,455.56,16,425.52
                c0-10,2.752-19.8,7.944-28.336L85.536,296h35.656c-0.704,5.248-1.192,10.56-1.192,16c0,66.168,53.832,120,120,120
                c28.76,0,55.176-10.184,75.864-27.12c2.68,6.528,4.136,13.528,4.136,20.64C320,455.56,295.56,480,265.52,480z M240,416
                c-57.344,0-104-46.656-104-104s46.656-104,104-104c16.76,0,32.56,4.08,46.592,11.152l-8.52,13.632
                C266.536,227.216,253.648,224,240,224c-48.52,0-88,39.48-88,88c0,48.52,39.48,88,88,88s88-39.48,88-88
                c0-29.152-14.304-54.96-36.2-70.984l8.496-13.592C326.696,246.304,344,277.136,344,312C344,369.344,297.344,416,240,416z
                 M368,328h-9.192c0.704-5.248,1.192-10.56,1.192-16s-0.488-10.752-1.192-16H368V328z M464,328h-80v-32h80c8.824,0,16,7.176,16,16
                C480,320.824,472.824,328,464,328z"/>
              <rect x="376" y="24" width="16" height="16"/>
              <rect x="347.746" y="35.677" transform="matrix(0.7071 0.7071 -0.7071 0.7071 135.0795 -238.7578)" width="16" height="16"/>
              <rect x="336" y="64" width="16" height="16"/>
              <rect x="347.74" y="92.23" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 536.4119 422.6493)" width="16" height="16"/>
              <rect x="376" y="104" width="16" height="16"/>
              <rect x="404.245" y="92.293" transform="matrix(0.7071 0.7071 -0.7071 0.7071 191.6615 -262.1257)" width="16" height="16"/>
              <rect x="416" y="64" width="16" height="16"/>
              <rect x="404.251" y="35.74" transform="matrix(0.7071 0.7071 -0.7071 0.7071 151.6749 -278.6951)" width="16" height="16"/>
              <rect x="304" y="64" width="16" height="16"/>
              <rect x="272" y="64" width="16" height="16"/>
              <rect x="240" y="64" width="16" height="16"/>
            </g>
          </g>
        </g>
        </svg>
          </div>
          <h2 class='advantages-header'>Rozwój i badania</h2>
          <p class='advantages-text'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam,
            eum tempora corporis in ea, aliquam nostrum atque, consequatur
            veritatis ex eaque quam asperiores facere repellendus. Maiores
            expedita veniam laborum! Adipisci!
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .about-section {
    padding-top: 114px;
    background-color: var(--bg-white);
    color: var(--bg-black);
  }
  .about-welcome {
    background-image: url('../assets/smoking-man.png');
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding-left: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
  }
  .about-container {
    padding: 20px;
  }
  .about-header {
    margin-top: 30px;
    color: var(--bg-white);
    font-size: clamp(3rem, 4vw, 4rem);
  }
  .about-subheader {
    margin-top: 30px;
    font-family: var(--main-font);
    font-size: clamp(2rem, 3vw, 3rem);
  }
  .text {
    margin-block: 20px;
    font-family: var(--second-font);
  }
  .text::first-letter {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 32px;
  }
  .span-line {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    background-color: var(--bg-black);
    height: 1px;
  }
  .benefits-wrapper {
    margin-top: 40px;
  }
  .benefit {
    font-family: var(--main-font);
  }
  .benefit-header {
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
  .benefit-text {
    font-size: 0.9rem;
    color: var(--bg-grey);
  }
  .benefit-image {
    margin-top: 15px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    object-fit: contain;
    height: auto;
  }
  .image {
    display: none;
  }
  .advantages-wrapper {
    background-color: var(--bg-black);
    color: var(--bg-white);
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    font-family: var(--main-font);
  }
.advantages-container {
  display: flex;
  flex-wrap: wrap;
}
  .advantages-wrapper .about-subheader {
    color: var(--bg-white);
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: clamp(3rem, 3vw, 3rem);
  }
  .advantages {
    margin-block: 30px;
    max-width: 400px;
  }
  .image-wrapper {
    width: 125px;
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
    /* border-radius: 50%;
    border: 2px solid var(--bg-white); */
    position: relative;
  }
  .image-wrapper.three {
    padding: 15px;
    width: 135px;
  }
  .one::before, .two::before, .three::before {
    content: ''; /* Dodajemy pusty pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
    border: 2px solid var(--bg-white); /* Ustawienie obramowania */
    box-sizing: border-box; /* Obramowanie jest uwzględniane w rozmiarze elementu */
    z-index: 1; /* Ustaw z-index, aby umieścić pseudo-element pod zawartością */
    transition: all 0.3s ease;
  }
  .one:hover::before, .two:hover::before, .three:hover::before {
    transform: rotate(45deg);
    border-radius: 50%;
    background-color: var(--bg-white);
  }
  .one::after, .two::after, .three::after {
    content: ''; /* Dodajemy pusty pseudo-element */
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1; /* Ustaw z-index, aby umieścić pseudo-element pod zawartością */
  }
  .one:hover::after {
    background-image: url('../assets/truck-svg-black.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
  .two:hover::after {
    background-image: url('../assets/team-svg-black.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
  .three:hover::after {
    background-image: url('../assets/research-svg-black.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
  .advantages-img {
    width: 100%;
    object-fit: contain;
  }
  .advantages-header {
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
  .advantages-text {
    font-size: 0.9rem;
    opacity: 0.8;
  }

  @media (min-width: 900px) {
    .about-section {
      padding-top: 0px;
    }
    .about-welcome {
      background-size: cover;
      justify-content: flex-start;
      align-items: center;
      height: 300px;
    }
    .about-header {
      padding-left: 120px;
      font-family: var(--roboto-font);
    }
    .about-subheader {
      text-align: center;
    }
    .about-text {
      margin-top: 40px;
      padding-inline: 160px;
    }
    .text {
      font-size: 1rem;
    }

    .container {
      padding-inline: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        'title-three image title-one'
        'title-four image title-two'
        '. title-five .';
    }
    .image {
      justify-self: center;
      align-self: center;
      display: block;
      width: 100%;
      object-fit: contain;
      grid-area: image;
    }
    .title-two {
      grid-area: title-two;
    }
    .title-three {
      grid-area: title-three;
    }
    .title-four {
      grid-area: title-four;
    }
    .title-one {
      grid-area: title-one;
    }
    .title-five {
      grid-area: title-five;
    }
    .benefits-wrapper {
      margin-top: 110px;
    }
    .benefit {
      padding: 15px;
    }
    .benefit-image {
      display: none;
    }
    .benefit-header {
      font-size: 1rem;
    }
    .benefit-text {
      font-size: 0.7rem;
    }
    .advantages-wrapper {
      justify-content: space-around;
      align-items: center;
    }
    .advantages-container {
      gap: 40px;
      justify-content: center;
      align-items: center;
    }
    .advantages {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .advantages-header {
      height: 62px;
    }
  }
</style>
