---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import rounds from '../assets/rounds.png';
import contact from '../assets/contact-img.png';
import nicotine from '../assets/nicotine3.png';
import labo from '../assets/labo-bottles.png';
import logistic from '../assets/logistic.png';
import logisitc2 from '../assets/logistic2.png';
---

<Layout title='O nas'>
  <section class='about-section'>
    <div class='about-welcome'>
      <h1 class='about-header'>O Nas</h1>
    </div>
    <div class='about-container'>
      <div class='about-text'>
        <h2 class='about-subheader'>Dlaczego HILIQ?</h2>
        <p class='text'>
          Hiliq może być Twoim numerem jeden jako dostawca online czystej
          nikotyny. Nasz produkt jest dostosowany do rosnących potrzeb
          przedsiębiorców potrzebujących wysokiej jakości Premium Nikotyny klasy
          USP, która może być wykorzystywana w wielu produktach takich jak
          plastry nikotynowe, gumy do żucia oraz płyny przygotowane i używane
          specjalnie do użytku w elektronicznych papierosach.
        </p>
        <p class='text'>
          Wykorzystujemy swoje doświadczenie nie tylko do produkcji najwyższej
          klasy produktów końcowych, ale również skupia swój rozwój na
          prowadzeniu badań, które są stale obecne w naszych działaniach tak
          istotnych do wprowadzania nowych produktów na rynek zgodnie
          zapotrzebowaniem naszych Klientów.
        </p>
        <p class='text'>
          Posiadamy doświadczenie w procesach produkcji, dlatego też nasze
          produkty osiągają najwyższe standardy, jak również procedury
          bezpieczeństwa są zawsze przestrzegane. Nasza dociekliwość koncentruje
          się wokół wydobycia najlepszych składników z liści tytoniu i poddaniu
          ich szeregowi ekstrakcji oraz oczyszczania tak, aby dostarczyć naszym
          konsumentom najbardziej naturalny i czysty płyn nikotynowy.
        </p>
      </div>
      <span class='span-line'></span>
      <div class='benefits-wrapper container'>
        <Image class='image' src={rounds} alt='obrazek' />
        <div class='benefit title-one'>
          <h2 class='benefit-header'>Ogromny wybór</h2>
          <p class='benefit-text'>
            Hiliq jest zawsze zgodna ze strategią, iż innowacyjne podejście
            generuje zgodną z oczekiwaniem Konsumenta jakość produktu. Teraz,
            gdy już mamy opanowane do perfekcji ekstrakcje nikotyny jesteśmy
            dumni z produkcji i możliwości zaoferowania szerokiego wyboru
            czystości nikotyny. Oferujemy nikotynę w czystości 99.5% do 99.9%
            ,więc idealną do każdego rodzaju produktów.
          </p>
          <Image class='benefit-image' src={nicotine} alt='nicotine-bottles' />
        </div>
        <div class='benefit title-two'>
          <h2 class='benefit-header'>Jakość produktu</h2>
          <p class='benefit-text'>
            Hiliq oferuje tylko najwyższą jakość produktów nikotynowych. Nasze
            płyny, ekstraktowane z najwyższej jakości roślin tytoniowych są
            starannie produkowane w zakładach sprawdzonych przez FDA oraz
            zgodnie z wytycznymi cGMP (current Good Manufacturing Practices),
            tak aby zapewnić 100% satysfakcji Klientów zarówno w strefie smaku
            jak i bezpieczeństwa.
          </p>
          <Image class='benefit-image' src={labo} alt='laboratory' />
        </div>
        <div class='benefit title-three'>
          <h2 class='benefit-header'>Doskonałość w logistyce</h2>
          <p class='benefit-text'>
            Dostarczamy nasze produkty w każde miejsce na świecie według
            zapotrzebowania naszych Konsumentów. Dotox jest niezawodnym dostawcą
            wysokiej jakości nikotyny. Z naszymi partnerami, będącymi kluczowymi
            dostawcami w branży logistycznej zapewniamy szybki, odpowiedzialny
            oraz wygodny transport do Waszych drzwi z najniższymi dostępnymi
            opłatami przesyłek międzynarodowych. Posiadamy również zespół, który
            pomoże Ci śledzić, sprawdzać i koordynować stan Twojej przesyłki.
          </p>
          <Image class='benefit-image' src={logistic} alt='magazine' />
        </div>
        <div class='benefit title-four'>
          <h2 class='benefit-header'>Konkurencyjne ceny</h2>
          <p class='benefit-text'>
            Hiliq oferuje wyłącznie najczystszą nikotynę, równocześnie dając
            uczciwą i odpowiednią cenę dla Twojego biznesu. Cenimy naszych
            Klientów oraz zawsze wspieramy ich działalność. Nikt z konkurentów
            nie proponuje takiej samej jakości produktów jaką my oferujemy w tak
            dobrych cenach.
          </p>
          <Image class='benefit-image' src={logisitc2} alt='logistics' />
        </div>
        <div class='benefit title-five'>
          <h2 class='benefit-header'>Istotność serwisu</h2>
          <p class='benefit-text'>
            Hiliq rozumie, iż skuteczna obsługa klienta może stanowić ogromną
            wartość biznesową. Zawsze jest naszym celem, aby trzymać się zasad,
            zapewniających wydajność oraz spełnianie wszystkie oczekiwań
            Konsumentów. Zespól Dotox dąży do tego, żeby nasi Klienci byli
            częścią każdego naszego działania. Od zamówienia produktu aż do jego
            dostarczenia monitorujemy cały proces, więc będziesz mógł bez obaw
            czekać na dostawę z całkowitym zaufaniem do naszych usług i
            możliwości.
          </p>
          <Image class='benefit-image' src={contact} alt='contact-woman' />
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .about-section {
    padding-top: 114px;
    background-color: var(--bg-white);
    color: var(--bg-black);
  }
  .about-welcome {
    background-image: url('../assets/smoking-man.png');
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding-left: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
  }
  .about-container {
    padding: 20px;
  }
  .about-header {
    margin-top: 30px;
    color: var(--bg-white);
    font-size: clamp(3rem, 4vw, 4rem);
  }
  .about-subheader {
    margin-top: 30px;
    font-family: var(--main-font);
    font-size: clamp(2rem, 3vw, 3rem);
  }
  .text {
    margin-block: 20px;
    font-family: var(--second-font);
  }
  .text::first-letter {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 32px;
  }
  .span-line {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    background-color: var(--bg-black);
    height: 1px;
  }
  .benefits-wrapper {
    margin-top: 40px;
  }
  .benefit {
    font-family: var(--main-font);
  }
  .benefit-header {
    font-family: var(--main-font);
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
  .benefit-text {
    font-size: .9rem;
    color: var(--bg-grey);
  }
  .benefit-image {
    margin-top: 15px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    object-fit: contain;
    height: auto;
  }
  .image {
    display: none;
  }

  @media (min-width: 900px) {
    .about-section {
      padding-top: 0px;
    }
    .about-welcome {
      background-size: cover;
      justify-content: flex-start;
      align-items: center;
      height: 300px;
    }
    .about-header {
      padding-left: 120px;
      font-family: var(--roboto-font);
    }
    .about-subheader {
      text-align: center;
    }
    .about-text {
      margin-top: 40px;
      padding-inline: 160px;
    }
    .text {
      font-size: 1rem;
    }
    
    .container {
      padding-inline: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        'title-three image title-one'
        'title-four image title-two'
        '. title-five .';
    }
    .image {
      justify-self: center;
      align-self: center;
      display: block;
      width: 100%;
      object-fit: contain;
      grid-area: image;
    }
    .title-two {
      grid-area: title-two;
    }
    .title-three {
      grid-area: title-three;
    }
    .title-four {
      grid-area: title-four;
    }
    .title-one {
      grid-area: title-one;
    }
    .title-five {
      grid-area: title-five;
    }
    .benefits-wrapper {
        margin-top: 110px;
    }
    .benefit {
        padding: 15px;
    }
    .benefit-image {
      display: none;
    }
    .benefit-header {
      font-size: 1rem;
    }
    .benefit-text {
      font-size: 0.7rem;
    }
  }
</style>
