---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import nicotine from "../assets/nicotine2.png";
import salt from "../assets/salt.webp";
import pgvg from "../assets/pgvg.png";
import aromas from "../assets/aroma.webp";
import accessories from "../assets/accessories.webp";
import fire from "../assets/warn-fire.png";
import wicon from "../assets/warn-icon.png";
import worker from "../assets/warn-office.png";
import toxic from "../assets/warn-toxic.png";
import cbd from "../assets/cbd-oils.png";

changeLanguage("pl");
---

<Layout title='Nasze produkty nikotynowe'>
  <main>
    <section class='products-section'>
      
      <div class='products-welcome products-welcome-small'>
        <h1 class='products-header'>Produkty</h1>
      </div>

      <div class='products-container'>
        <div class='bg-overlay'></div>
        <div class="texts-wrapper">
          <p class='products-text'>
            Ponad 300 zadowolonych klientów w całej Polsce
          </p>
          <p class='products-text'>
            Innowacyjne podejście generuje zgodną z oczekiwaniem Konsumenta
            jakość produktu.
          </p>
          <p class='products-text'>
            Oferujemy profesjonalne produkty nikotynowe, które zaspokoją rosnące
            zapotrzebowanie rynku oraz Klientów o różnych wymaganiach.
          </p>
        </div>
        <div class='card'>
          <Image class='card-image' src={nicotine} alt='nicotine-bottle' />
          <h2 class='card-title'>Nikotyna</h2>
          <p class='card-text'>
            Naturalnie pozyskiwany z roślin tytoń o doskonałym smaku, większejj
            żywotności i dłuższym okresie utleniania.
          </p>
        </div>
        <div class='card'>
          <Image class='card-image' src={salt} alt='nicotine-salt' />
          <h2 class='card-title'>Sól nikotynowa</h2>
          <p class='card-text'>
            To forma nikotyny, która występuje naturalnie w tytoniu, stosowana w
            płynach do e-papierosów
          </p>
        </div>
        <div class='card'>
          <Image class='card-image' src={pgvg} alt='nicotine-bottle' />
          <h2 class='card-title'>PG i VG</h2>
          <p class='card-text'>
            PG (Propylenoglikol) i VG (Gliceryna roślinna) to dwie główne
            substancje bazowe używane do produkcji e-płynów w e-papierosach
          </p>
        </div>
        <div class='card'>
          <Image class='card-image' src={aromas} alt='nicotine-bottles' />
          <h2 class='card-title'>Aromaty</h2>
          <p class='card-text'>
            Substancje chemiczne dodawane do płynów do e-papierosów w celu
            nadania im smaku itp
          </p>
        </div>
        <div class='card'>
          <Image class='card-image' src={accessories} alt='nicotine-bottle' />
          <h2 class='card-title'>Dodatki</h2>
          <p class='card-text'>
            Dodatkowe składniki, takie jak barwniki, substancje słodzące czy
            chłodzące, używane w celu dostosowania smaku i wrażeń z palenia.
          </p>
        </div>
        <div class='card'>
          <Image class='card-image' src={cbd} alt='cbd-oils' />
          <h2 class='card-title'>Oleje CBD</h2>
          <p class='card-text'>
            Olej CBD to ekstrakt pochodzący z konopi siewnych (Cannabis sativa),
            który zawiera kannabidiol (CBD) - jedno z wielu związków chemicznych
            występujących naturalnie w roślinie konopi
          </p>
        </div>
      </div>

      <div class='warning-container'>
        <h2 class='warning-header'>Uwaga!</h2>
        <div class='warning-wrapper'>
          <div class='warning-card'>
            <Image class='warning-img' src={fire} alt='warn-fire' />
            <p class='warning-text'>
              Wrażliwy: Chronić przed bezpośrednim działaniem promieni
              słonecznych i unikać nadmiernej ekspozycji na źródła powietrza.
            </p>
          </div>
          <div class='warning-card'>
            <Image class='warning-img' src={wicon} alt='warn-icon' />
            <p class='warning-text'>
              Łatwopalny: trzymać z dala od intensywnych źródeł ciepła.
            </p>
          </div>
          <div class='warning-card'>
            <Image class='warning-img' src={worker} alt='worker-icon' />
            <p class='warning-text'>
              Tylko do użytku dla osób dorosłych. Trzymać z dala od dzieci,
              zwierząt domowych oraz osób niezrównoważonych.
            </p>
          </div>
          <div class='warning-card'>
            <Image class='warning-img' src={toxic} alt='toxic-bottle' />
            <p class='warning-text'>
              Toksyczne: Nie pij i nie pozwól na bezpośredni kontakt z
              roztworem.
            </p>
          </div>
        </div>
        <span class='warning-line'></span>
        <div class='warning-footer'>
          <p class='warning-text'>
            <span>*Nikotyna jest szkodliwa.</span> Nie połykać, nie umieszczać
            na języku, oczach lub skórze. Trzymać z dala od dzieci, zwierząt
            domowych oraz osób niezrównoważonych. Po kontakcie ze skórą
            niezwłocznie skontaktować się z lekarzem.
          </p>
          <p class='warning-text'>
            <span>Nikotyna jest śilnie uzależniająca.</span> Tego produktu nie
            powinny stosować osoby: mające choroby serca; wysokie ciśnienie
            krwi; cukrzycę lub uczulenie na nikotynę, glicerynę lub glikol
            propylenowy; kobiety w ciąży lub karmiące piersią. Należy przerwać
            stosowanie i niezwłocznie skonsultować się z lekarzem w razie
            występowania jakichkolwiek objawów nadużycia nikotyny takich jak
            nudności wymioty, zawroty głowy, osłabienie lub szybkie bicie serca.
          </p>
          <p class='warning-text'>
            <span
              >PRODUKT ZAWIERA NIKOTYNĘ, KTÓRA JEST SUBSTANCJA UZALEŻNIAJĄCĄ</span
            >
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .products-section {
    padding-top: 114px;
  }
  .bg-overlay {
    background-image: url('/bg-dots.webp');
    height: 100%;
    width: 100%;
    inset: 0;
    z-index: -1;
    opacity: 0.1;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .products-welcome {
    background-image: url('/products-bg-sm2.webp');
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding-left: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
  }
  .products-container {
    padding: 80px 20px 80px 20px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .products-header {
    font-family: var(--roboto-font);
    margin-top: 30px;
    align-self: center;
    color: var(--font-blue);
    font-size: clamp(4rem, 4vw, 6rem);
  }
  .products-subheader {
    font-size: clamp(2.3rem, 3vw, 3.5rem);
    font-family: var(--main-font);
    color: var(--bg-white);
  }
 
  .products-text {
    font-family: var(--second-font);
    text-align: center;
    font-size: clamp(1.2rem, 1.5vw, 1.7rem);
    color: var(--font-blue);
    padding: 25px 30px;
    font-weight: 300;
    max-width: 1400px;
    margin-bottom: 10px;
    opacity: 0;
    animation: show 2s both;
  }
  .products-text:first-of-type {
    animation-delay: 0.5s;
    font-weight: 500;
    font-size: clamp(1.4rem, 1.7vw, 1.9rem);
  }
  .products-text:nth-of-type(2) {
    opacity: 0;
    animation-delay: 1s;
  }
  .products-text:nth-of-type(3) {
    opacity: 0;
    animation-delay: 1.5s;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--bg-white);
    align-items: center;
    color: var(--bg-black);
    font-family: var(--second-font);
    transform: scale(1);
    transition: 0.3s transform ease;
    box-shadow: 3px 2px 19px -5px rgba(0, 0, 0, 1);
  }
  .card-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .card:hover {
    transform: scale(1.1);
  }
  .card-title {
    font-size: 1.4rem;
    margin: 25px;
  }
  .card-text {
    text-align: center;
    max-width: 265px;
    height: 140px;
  }
  .warning-container {
    background-image: var(--bg-gradient);
    color: var(--bg-white);
    padding: 20px 20px 60px 20px;
  }
  .warning-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: clamp(2.5rem, 3vw, 3.5rem);
    font-family: var(--main-font);
    margin-bottom: 30px;
  }
  .warning-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    align-items: start;
    gap: 40px 10px;
    margin-bottom: 70px;
    font-family: var(--roboto-font);
  }
  .warning-card {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
    flex-direction: column;
  }
  .warning-image {
    display: block;
    width: 100%;
    object-fit: contain;
  }
  .warning-text {
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
  }
  .warning-footer {
    margin-top: 30px;
    font-family: var(--second-font);
  }
  .warning-footer .warning-text {
    margin-bottom: 20px;
  }
  .warning-text span {
    font-weight: 900;
  }
  .warning-line {
    margin: 0 auto;
    display: block;
    width: 70%;
    background-color: var(--bg-white);
    height: 1px;
  }
  @media (min-width: 900px) {
    .products-section {
      padding-top: 0;
    }
    .products-container {
      gap: 100px;
      padding-top: 100px;
    }
    .products-welcome {
      height: 400px;
      align-items: center;
    }
    .products-welcome-small {
      background-image: url('/products-bg2.webp');
    }
    .products-header {
      padding-left: 120px;
    }
    .products-text {
      margin-top: 30px;
      margin-bottom: 0px;
    }
    .warning-header {
    }
  }
  @media (max-width: 1800px) {
    .products-text {
      margin-top: 0px;
    }
  }
  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
