---
import { Image } from 'astro:assets';
import nicotine from '../../assets/nicotine2.png';
import salt from '../../assets/salt.webp';
import pgvg from '../../assets/pgvg.png';
import aromas from '../../assets/aroma2.png';
import accessories from '../../assets/accessories.webp';
import cbd from '../../assets/cbd-oils.png';
import data from '../../data/productsPreview.json';
---

<div class='cards-content'>

{
  data.map((item) => (
    <div class='card'>
    <div class='content'>
      <div class='gradient'>
        <h3 class='card-title'>{item.name}</h3>
      </div>
      <img class='card-image' src={item.image} alt={item.name} />
    </div>
  </div>
  ))
}


  <!-- <div class='card'>
    <div class='content'>
      <div class='gradient'>
        <h3 class='card-title'>Nikotyna</h3>
      </div>
      <Image class='card-image' src={nicotine} alt='nicotine' />
    </div>
  </div>

  <div class='card'>
    <div class='content'>
      <div class='gradient'>
        <h3 class='card-title'>Sól Nikotynowa</h3>
      </div>
      <Image class='card-image' src={salt} alt='nicotine-salt' />
    </div>
  </div>
  <div class='card'>
    <div class='content'>
      <div class='gradient'>
        <h3 class='card-title'>PG&VG</h3>
      </div>
      <Image class='card-image' src={pgvg} alt='nicotine-bottles' />
    </div>
  </div>
  <div class='card'>
    <div class='content'>
      <div class='gradient'>
        <h3 class='card-title'>Aromaty</h3>
      </div>
      <Image class='card-image' src={aromas} alt='nicotine-bottles' />
    </div>
  </div>
  <div class='card'>
    <div class='content'>
      <div class='gradient'>
        <h3 class='card-title'>Dodatki</h3>
      </div>
      <Image class='card-image' src={accessories} alt='accessories' />
    </div>
  </div>
  <div class='card'>
    <div class='content'>
      <div class='gradient'>
        <h3 class='card-title'>Oleje CBD</h3>
      </div>
      <Image class='card-image' src={cbd} alt='cbd' />
    </div>
  </div> -->
</div>

<style>
  .cards-content {
    display: none;
  }
  .content {
    transform: scale(1);
    background: transparent;
    z-index: 100;
    transition: 0.3s all ease;
  }
  .content:hover {
    transform: scale(1.1);
  }

  .card {
    position: relative;
    max-width: 100%;
    font-family: var(--second-font);
  }
  .gradient {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: linear-gradient(
      to top,
      #000000,
      #00000018,
      #ffffff00
    );
    position: absolute;
    inset: 0;
    transition: 0.3s all ease;
    opacity: 0.8;
    z-index: 1;
  }
  .gradient:hover {
    opacity: 0.5;
  }
  .card-image {
    display: block;
    width: 100%;
    object-fit: cover;
    transition: 0.3s all ease;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  }

  .card-title {
    display: block;
    font-size: 1.4rem;
    margin: 15px;
    color: white;
  }
  .card-text {
    text-align: center;
    max-width: 265px;
    height: 100px;
  }
  @media (min-width: 900px) {
    .cards-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      margin-top: 40px;
      gap: 50px;
    }
  }
</style>
